<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.manage.mapper.OperationHistoryInfoMapper">

    <resultMap type="OperationHistoryInfo" id="OperationHistoryInfoResult">
        <result property="id"    column="id"    />
        <result property="orderId"    column="order_id"    />
        <result property="remark"    column="remark"    />
        <result property="userId"    column="user_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="deptId"    column="dept_id"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectOperationHistoryInfoVo">
        select id, order_id, remark, user_id, create_by, dept_id, create_time from tb_operation_history_info
    </sql>

    <select id="selectOperationHistoryInfoList" parameterType="OperationHistoryInfo" resultMap="OperationHistoryInfoResult">
        <include refid="selectOperationHistoryInfoVo"/>
        <where>
            <if test="id != null  and id != ''"> and id = #{id}</if>
            <if test="orderId != null  and orderId != ''"> and order_id = #{orderId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="createBy != null  and createBy != ''"> and create_by like concat('%', #{createBy}, '%')</if>
            <if test="deptId != null "> and dept_id = #{deptId}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
        order by create_time desc
    </select>

    <select id="selectOperationHistoryInfoById" parameterType="String" resultMap="OperationHistoryInfoResult">
        <include refid="selectOperationHistoryInfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertOperationHistoryInfo" parameterType="OperationHistoryInfo">
        insert into tb_operation_history_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="orderId != null and orderId != ''">order_id,</if>
            <if test="remark != null">remark,</if>
            <if test="userId != null">user_id,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="orderId != null and orderId != ''">#{orderId},</if>
            <if test="remark != null">#{remark},</if>
            <if test="userId != null">#{userId},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateOperationHistoryInfo" parameterType="OperationHistoryInfo">
        update tb_operation_history_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null and orderId != ''">order_id = #{orderId},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOperationHistoryInfoById" parameterType="String">
        delete from tb_operation_history_info where id = #{id}
    </delete>

    <delete id="deleteOperationHistoryInfoByIds" parameterType="String">
        delete from tb_operation_history_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>